# Import

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.cluster import KMeans
#from Industry_RL_Framework import IndustryTradingEnv, SaveModelCallback
#import Industry_RL_Framework
import tqdm

In [6]:
path = r'h:\我的雲端硬碟\DEV_INTERN_ALPHA_DATA-20240709T015049Z-001\DEV_INTERN_ALPHA_DATA\pmart.parquet'

# Prepare data

In [7]:
df = pd.read_parquet(path)
df

,datetime,symbol,融資買進(張),融資賣出(張),融券買入(張),融券賣出(張),融資餘額(張),融券餘額(張),融資餘額(千元),融券餘額(千元),...,營業利益,營業外收入及支出,所得稅費用,合併總損益,歸屬母公司淨利（損）,折舊－CFO,攤提－CFO,來自營運之現金流量,投資活動之現金流量,籌資活動之現金流量
0,2013-05-15,1101,48.0,188.0,19.0,68.0,4360.0,503.0,170999.20,19727.66,...,2026729.0,314060.0,341165.0,1999624.0,1413035.0,1571884.0,88802.0,2274053.0,1306842.0,-10614587.0
1,2013-05-15,1102,84.0,59.0,6.0,7.0,3198.0,56.0,120884.40,2116.80,...,346919.0,1250044.0,219496.0,1377467.0,1219360.0,1114289.0,49589.0,-443139.0,-1564006.0,8381595.0
2,2013-05-15,1103,61.0,41.0,0.0,0.0,7279.0,8.0,96665.12,106.24,...,-149811.0,183613.0,-25835.0,59637.0,82329.0,98958.0,0.0,-167259.0,-124844.0,-149684.0
3,2013-05-15,1104,532.0,541.0,0.0,6.0,4595.0,54.0,83720.90,983.88,...,30247.0,156012.0,2818.0,183441.0,181173.0,30664.0,2302.0,44037.0,-231392.0,230225.0
4,2013-05-15,1108,117.0,167.0,0.0,0.0,6262.0,1.0,44021.86,7.03,...,98223.0,-13612.0,20742.0,63869.0,69554.0,89145.0,4569.0,304971.0,-9730.0,-263342.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118196,2024-06-19,9951,2.0,5.0,0.0,0.0,412.0,5.0,29186.53,354.21,...,63255.0,50283.0,21400.0,92138.0,92138.0,30907.0,581.0,21236.0,-205489.0,-81717.0
118197,2024-06-19,9955,59.0,38.0,1.0,0.0,1816.0,229.0,57466.41,7246.59,...,-33641.0,2075.0,0.0,-31566.0,-31566.0,16630.0,0.0,19894.0,-54420.0,60503.0
118198,2024-06-19,9958,688.0,1460.0,170.0,37.0,25128.0,1886.0,8642740.42,648687.06,...,1060381.0,15803.0,215487.0,860697.0,650760.0,303801.0,490.0,199138.0,322278.0,-632228.0
118199,2024-06-19,9960,0.0,7.0,0.0,0.0,92.0,0.0,2509.93,0.00,...,11872.0,10323.0,4569.0,17626.0,17626.0,7647.0,2176.0,56976.0,-65795.0,-171890.0
118200,2024-06-19,9962,0.0,21.0,0.0,0.0,856.0,0.0,14151.56,0.00,...,2778.0,5508.0,1652.0,6634.0,6634.0,5554.0,108.0,-10954.0,-45636.0,45397.0

In [8]:
df[['datetime', 'symbol', '日報酬率(%)']]

         datetime symbol  日報酬率(%)
0      2013-05-15   1101   0.8951
1      2013-05-15   1102   0.6631
2      2013-05-15   1103   0.0000
3      2013-05-15   1104   0.5525
4      2013-05-15   1108   0.5690
...           ...    ...      ...
118196 2024-06-19   9951   0.0000
118197 2024-06-19   9955   0.1587
118198 2024-06-19   9958  -3.6671
118199 2024-06-19   9960   0.1838
118200 2024-06-19   9962  -0.6024

[4523866 rows x 3 columns]

In [9]:
pmart_column_lst = df.columns.tolist()[2:]
pmart_column_lst

['融資買進(張)',
 '融資賣出(張)',
 '融券買入(張)',
 '融券賣出(張)',
 '融資餘額(張)',
 '融券餘額(張)',
 '融資餘額(千元)',
 '融券餘額(千元)',
 '融資使用率',
 '融券使用率',
 '券資比',
 '融資維持率',
 '融券維持率',
 '整戶維持率',
 '日報酬率(%)',
 '近一週報酬率(%)',
 '近一月報酬率(%)',
 '近一季報酬率(%)',
 '近一年報酬率(%)',
 '開盤價',
 '最高價',
 '最低價',
 '收盤價',
 '成交量(千股)',
 '交易所本益比',
 '流通股數(千股)',
 '交易所淨值市價比',
 '現金股利率',
 '開盤價-除權息',
 '最高價-除權息',
 '最低價-除權息',
 '收盤價-除權息',
 '外資買賣超(千股)',
 '投信買賣超(千股)',
 '自營買賣超(千股)',
 '合計買賣超(千股)',
 '外資買進張數',
 '投信買進張數',
 '外資賣出張數',
 '投信賣出張數',
 '自營買進張數',
 '自營賣出張數',
 '外資總持股數(千股)',
 '投信總持股數(千股)',
 '自營總持股數(千股)',
 '外資總持股率(%)',
 '投信總持股率(%)',
 '自營總持股率(%)',
 '單月營收(千元)',
 '去年單月營收(千元)',
 '單月營收成長率%',
 '累積營收(千元)',
 '去年累積營收(千元)',
 '累積營收成長率(%)',
 '季別',
 '合併(Y/N)',
 '單季(Q)/單半年(H)',
 '月份',
 '幣別',
 '每股盈餘',
 'ROA(C) 稅前息前折舊前',
 'ROE(A)-稅後',
 '營業毛利率',
 '營業利益率',
 '稅後淨利率',
 'CFO/負債',
 'CFO/合併總損益',
 '現金流量比率',
 '每股淨值(F)-TSE公告數',
 '營收成長率',
 '營業毛利成長率',
 '營業利益成長率',
 '流動比率',
 '速動比率',
 '負債比率',
 '長期資金適合率(A)',
 '應收帳款週轉次數',
 '總資產週轉次數',
 '存貨週轉率(次)',
 '應收帳款及票據',
 '存貨',
 '流動資產',
 '採權益法之長期股權投資',
 '不動產廠房及設備',
 '商譽及無形資產合計',
 '非流動資產',
 '資產總額',
 '短期借款',
 '應付商業本票∕承兌匯票',
 '一年內到期長期負債',
 '流動負債',
 '應付公司債－非流動',
 '銀行借款－非流動',
 '其他長期借款－非流動',
 '非流動負債',
 '負債總額',
 '股本',
 '保留盈餘',
 '股東權益總額',
 '負債及股東權益總額',
 '營業收入淨額',
 '營業成本',
 '營業毛利',
 '營業費用',
 '營業利益',
 '營業外收入及支出',
 '所得稅費用',
 '合併總損益',
 '歸屬母公司淨利（損）',
 '折舊－CFO',
 '攤提－CFO',
 '來自營運之現金流量',
 '投資活動之現金流量',
 '籌資活動之現金流量']

In [10]:
pmart_data_dict = {}

pmart_column_lst = df.columns.tolist()[2:]
pmart_column_lst = [col for col in pmart_column_lst if col not in ['季別', '合併(Y/N)', '單季(Q)/單半年(H)', '月份', '幣別', '近一週報酬率(%)', '近一月報酬率(%)', '近一季報酬率(%)', '近一年報酬率(%)']]

for column in pmart_column_lst:
    temp_df = df[['datetime', 'symbol' , column]]
    pmart_data_dict[column] = temp_df.pivot_table(
    index='datetime',  # 行索引
    columns='symbol',  # 列名稱
    values=column,  # 數值
)

In [11]:
# 另外處理周、月報酬率
pmart_data_dict['周報酬率(%)'] = pmart_data_dict['日報酬率(%)'].rolling(window=5).sum()
pmart_data_dict['月報酬率(%)'] = pmart_data_dict['日報酬率(%)'].rolling(window=22).sum()

pmart_data_dict['周報酬率(%)']

symbol,1101,1102,1103,1104,1108,1109,1110,1201,1203,1210,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-21,1.0290,0.5329,2.9782,1.3751,1.9812,1.4351,-1.0418,3.1942,3.3159,2.5190,...,1.7933,4.9457,2.9890,-4.3818,2.8813,12.8811,-0.4254,1.5668,-0.5874,1.8464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,2.2854,1.1174,-1.3453,-0.8799,-0.2959,-0.7599,-10.5940,-0.2646,-1.8818,-0.6998,...,-1.6947,0.0596,-4.0989,-0.5753,-10.3103,1.1457,-1.0456,25.2774,0.0010,-0.5879
2024-06-14,3.9296,2.9338,0.2882,0.0064,0.2993,1.2974,-10.8691,0.0007,-0.0566,-0.3496,...,-1.2503,1.2800,-4.4671,0.2820,-3.1498,1.5712,-9.6547,19.4705,-0.5464,0.3121
2024-06-17,2.8593,1.3223,-0.5337,-0.4394,-0.5891,0.2618,-13.1920,-0.2653,-0.3585,0.3515,...,-3.0057,-5.6980,-17.5112,0.6995,-3.4325,0.7209,-9.7974,12.2874,-0.3605,-0.5906
2024-06-18,3.1703,1.7991,0.8250,0.5953,-0.8867,0.0054,-5.5024,-0.5313,1.2568,0.3521,...,-0.6366,0.4413,-6.9152,1.7512,-2.5604,0.8665,-0.4422,9.4107,-0.7268,0.6070
2024-06-19,3.1562,4.0508,-0.2702,0.8898,-0.5908,0.5222,-4.0497,-1.3313,6.3641,0.1778,...,-1.0726,2.2998,0.3267,-0.3765,-0.5632,-0.7027,0.6644,4.2028,-0.5430,-0.6015

In [12]:
pmart_data_dict['來自營運之現金流量'].head(3)

symbol,1101,1102,1103,1104,1108,1109,1110,1201,1203,1210,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,2274053.0,-443139.0,-167259.0,44037.0,304971.0,125159.0,112617.0,-1232924.0,327242.0,390427.0,...,-8418.0,-745702.0,1022006.0,9892.0,13137.0,21569.0,-4485.0,407713.0,-2965.0,118584.0
2013-05-16,2274053.0,-443139.0,-167259.0,44037.0,304971.0,125159.0,112617.0,-1232924.0,327242.0,390427.0,...,-8418.0,-745702.0,1022006.0,9892.0,13137.0,21569.0,-4485.0,407713.0,-2965.0,118584.0
2013-05-17,2274053.0,-443139.0,-167259.0,44037.0,304971.0,125159.0,112617.0,-1232924.0,327242.0,390427.0,...,-8418.0,-745702.0,1022006.0,9892.0,13137.0,21569.0,-4485.0,407713.0,-2965.0,118584.0

# symbol改行業

In [14]:
industry_path = r"C:\Users\User\Desktop\quant\Sector Allocation Framework under Reinforcement Learning Rotation\security_properties.parquet"
property_data = pd.read_parquet(industry_path)

property_data = property_data.reset_index()
property_data = property_data[property_data['industry'].notna()]
property_data

,symbol,目前狀態,TSE產業名,上市日,下市日,名稱(中文),市場別,證券種類代碼,證券種類名稱,industry,info
1,000116,2020-01-01,金融業,1996-06-28,2002-02-05,日盛證券,DIST,STOCK,普通股,金融業,000116 | 日盛證券 | DIST | 金融業
10,000930,2020-01-01,金融業,1995-12-27,2001-12-19,華南永昌證券,DIST,STOCK,普通股,金融業,000930 | 華南永昌證券 | DIST | 金融業
11,000960,2020-01-01,金融業,1995-12-12,2001-12-19,富邦證券,DIST,STOCK,普通股,金融業,000960 | 富邦證券 | DIST | 金融業
12,0009A0,2020-01-01,金融業,1994-12-06,2002-05-09,永豐金證券,DIST,STOCK,普通股,金融業,0009A0 | 永豐金證券 | DIST | 金融業
357,1101,2024-01-01,水泥工業,1962-02-09,NaT,台泥,TSE,STOCK,普通股,建材營造,1101 | 台泥 | TSE | 建材營造
...,...,...,...,...,...,...,...,...,...,...,...
3423,9955,2024-01-01,綠能環保,2003-12-30,NaT,佳龍,TSE,STOCK,普通股,綠能環保,9955 | 佳龍 | TSE | 綠能環保
3426,9958,2024-01-01,鋼鐵工業,2008-03-12,NaT,世紀鋼,TSE,STOCK,普通股,鋼鐵工業,9958 | 世紀鋼 | TSE | 鋼鐵工業
3428,9960,2024-01-01,運動休閒,2004-12-06,NaT,邁達康,OTC,STOCK,普通股,居家生活,9960 | 邁達康 | OTC | 居家生活
3430,9962,2024-01-01,鋼鐵工業,2006-07-10,NaT,有益,OTC,STOCK,普通股,鋼鐵工業,9962 | 有益 | OTC | 鋼鐵工業
3549,L2301,2020-01-01,電子工業,1983-01-26,2002-11-04,光寶,DIST,STOCK,普通股,電子工業,L2301 | 光寶 | DIST | 電子工業

In [15]:
symbol_to_industry = property_data[['symbol', 'industry']].set_index('symbol')['industry']
symbol_to_industry

symbol
000116     金融業
000930     金融業
000960     金融業
0009A0     金融業
1101      建材營造
          ...
9955      綠能環保
9958      鋼鐵工業
9960      居家生活
9962      鋼鐵工業
L2301     電子工業
Name: industry, Length: 2262, dtype: object

In [16]:
# 創建一個新 dictionary，用於儲存轉換後的 DataFrame
industry_data_dict = {}

for key, df in pmart_data_dict.items():
    # 重設 DataFrame 的列索引，將 symbol 映射為 industry
    df = df.rename(columns=symbol_to_industry).copy()
    
    # 基於 industry 聚合，計算平均值
    df = df.groupby(axis=1, level=0).mean()
    
    # 儲存到新的 dictionary
    industry_data_dict[key] = df

# 結果：industry_data_dict 包含的 DataFrame 是基於產業的全平均

C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()
C:\Users\User\AppData\Local\Temp\ipykernel_34764\3545463805.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(axis=1, level=0).mean()

In [17]:
industry_data_dict['每股盈餘'].head(3)

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,0.227706,0.145172,0.457429,0.424508,0.341461,0.889479,0.965714,0.101579,0.330625,1.052778,...,0.32037,0.31058,NaN,0.2955,1.11,0.432895,0.401912,0.408644,0.498804,0.375
2013-05-16,0.227706,0.145172,0.457429,0.424508,0.341461,0.889479,0.965714,0.101579,0.330625,1.052778,...,0.32037,0.31058,NaN,0.2955,1.11,0.432895,0.401912,0.408644,0.498804,0.375
2013-05-17,0.227706,0.145172,0.457429,0.424508,0.341461,0.889479,0.965714,0.101579,0.330625,1.052778,...,0.32037,0.31058,NaN,0.2955,1.11,0.432895,0.401912,0.408644,0.498804,0.375

# 生成cluster df

In [13]:
industry_data_dict['月報酬率(%)']

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,7.352529,2.507114,1.269467,10.035269,0.631288,2.741607,5.522848,4.819992,-1.843793,2.010117,...,6.066221,8.195330,1.900862,0.382832,NaN,8.138863,7.039062,5.805165,8.703548,1.895327
2024-06-14,7.871897,3.056442,1.080769,9.284823,0.586305,6.401231,4.526576,5.081188,-0.993491,2.061000,...,5.640944,8.378616,2.809631,-0.014598,NaN,8.353711,7.443237,6.586047,7.946328,2.262077
2024-06-17,8.431164,3.299385,1.455864,9.871341,0.681579,5.170512,4.478857,6.829076,-0.945778,1.071697,...,5.599769,8.765303,1.952579,0.185677,NaN,7.525606,7.792980,7.249127,8.464045,1.749750
2024-06-18,6.996635,2.736144,0.668217,9.792149,-0.030620,2.823760,3.902490,6.185280,-1.409136,0.606817,...,5.052556,8.541836,2.025352,-0.737055,NaN,8.256340,7.125794,7.479929,8.012785,1.582490
2024-06-19,5.974579,2.973984,1.013845,8.881465,0.149180,1.295966,2.508867,5.480008,-1.961989,-0.018606,...,5.106249,7.824903,2.552257,-1.256811,NaN,6.589074,6.064754,6.160398,7.047527,1.189353

In [14]:
# cluster
# 確保 datetime 是索引且為 datetime 格式
industry_data_dict['月報酬率(%)'].index = pd.to_datetime(industry_data_dict['月報酬率(%)'].index)

# 初始化結果 DataFrame
cluster_result = pd.DataFrame(index=industry_data_dict['月報酬率(%)'].index, columns=industry_data_dict['月報酬率(%)'].columns)

# 將數據按半年分組
industry_data_dict['月報酬率(%)']['period'] = (industry_data_dict['月報酬率(%)'].index.year * 2 + (industry_data_dict['月報酬率(%)'].index.month > 6)).astype(int)
groups = industry_data_dict['月報酬率(%)'].groupby('period')

# 遍歷每個半年分組
for period, group in groups:
    # 去掉 'period' 列，用於聚類
    temp_data = group.drop(columns=['period'])
    
    # 去掉全為 NaN 的列
    temp_data = temp_data.dropna(axis=1, how='all')
    
    # 填補 NaN 值（例如用均值填補）
    temp_data = temp_data.fillna(temp_data.mean())
    
    # 進行 K-means 聚類（分為 6 類）
    kmeans = KMeans(n_clusters=6, random_state=42)
    cluster_labels = kmeans.fit_predict(temp_data.T)  # 按列（產業）聚類
    
    # 保存聚類結果
    for col, label in zip(temp_data.columns, cluster_labels):
        cluster_result.loc[group.index, col] = label + 1  # 類別從 1 開始

# 移除臨時列
industry_data_dict['月報酬率(%)'] = industry_data_dict['月報酬率(%)'].drop(columns=['period'])

# 輸出結果
cluster_result = cluster_result.astype('Int64')  # 確保類別是整數

In [15]:
cluster_result

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-16,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-17,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-20,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-21,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-14,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-17,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-18,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-19,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1

In [16]:
industry_data_dict['ROA(C) 稅前息前折舊前']

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,1.739083,0.874655,2.223143,2.322131,1.800449,1.857083,1.760000,1.506316,1.774062,3.377222,...,1.098889,1.628841,NaN,1.530250,2.52,0.987895,2.052351,2.026949,1.868370,2.375417
2013-05-16,1.739083,0.874655,2.223143,2.322131,1.800449,1.857083,1.760000,1.506316,1.774062,3.377222,...,1.098889,1.628841,NaN,1.530250,2.52,0.987895,2.052351,2.026949,1.868370,2.375417
2013-05-17,1.739083,0.874655,2.223143,2.322131,1.800449,1.857083,1.760000,1.506316,1.774062,3.377222,...,1.098889,1.628841,NaN,1.530250,2.52,0.987895,2.052351,2.026949,1.868370,2.375417
2013-05-20,1.739083,0.874655,2.223143,2.322131,1.800449,1.857083,1.760000,1.506316,1.774062,3.377222,...,1.098889,1.628841,NaN,1.530250,2.52,0.987895,2.052351,2.026949,1.868370,2.375417
2013-05-21,1.739083,0.874655,2.223143,2.322131,1.800449,1.857083,1.760000,1.506316,1.774062,3.377222,...,1.098889,1.628841,NaN,1.530250,2.52,0.987895,2.052351,2.026949,1.868370,2.375417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,6.278384,6.655342,12.094054,11.041176,10.036870,4.276364,7.852632,13.700952,6.158974,12.187586,...,9.238857,6.095610,4.8912,7.506667,NaN,6.163636,9.048178,8.850909,8.831287,11.035000
2024-06-14,6.278384,6.655342,12.094054,11.041176,10.036870,4.276364,7.852632,13.700952,6.158974,12.187586,...,9.238857,6.095610,4.8912,7.506667,NaN,6.163636,9.048178,8.850909,8.831287,11.035000
2024-06-17,6.278384,6.655342,12.094054,11.041176,10.036870,4.276364,7.852632,13.700952,6.158974,12.187586,...,9.238857,6.095610,4.8912,7.506667,NaN,6.163636,9.048178,8.850909,8.831287,11.035000
2024-06-18,6.278384,6.655342,12.094054,11.041176,10.036870,4.276364,7.852632,13.700952,6.158974,12.187586,...,9.238857,6.095610,4.8912,7.506667,NaN,6.163636,9.048178,8.850909,8.831287,11.035000
2024-06-19,6.278384,6.655342,12.094054,11.041176,10.036870,4.276364,7.852632,13.700952,6.158974,12.187586,...,9.238857,6.095610,4.8912,7.506667,NaN,6.163636,9.048178,8.850909,8.831287,11.035000

# 生成feature dict

In [17]:
feature_dict = pd.DataFrame()

In [18]:
# 合併多個df以符合RL所需格式
def reorganize_industry_data(industry_data_dict):
    """
    重組產業指標數據，將產業作為第一層，指標作為第二層
    
    Parameters:
    industry_data_dict: Dict[str, pd.DataFrame] - 指標資料字典，key為指標名稱
    
    Returns:
    pd.DataFrame - 重組後的DataFrame，MultiIndex為(產業, 指標)
    """
    # 取得所有日期作為索引
    all_dates = set()
    for df in industry_data_dict.values():
        all_dates.update(df.index)
    all_dates = sorted(list(all_dates))
    
    # 取得所有產業名稱
    industries = industry_data_dict[list(industry_data_dict.keys())[0]].columns
    
    # 創建新的DataFrame
    result_dict = {}
    
    # 重組數據
    for industry in industries:
        for indicator, df in industry_data_dict.items():
            if industry in df.columns:
                # 使用元組作為鍵，第一層是產業，第二層是指標
                result_dict[(industry, indicator)] = df[industry]
    
    # 創建最終的DataFrame
    result_df = pd.DataFrame(result_dict, index=all_dates)
    
    # 確保MultiIndex格式正確
    result_df.columns = pd.MultiIndex.from_tuples(result_df.columns)
    
    return result_df

In [19]:
# Fundamental feature

fundamental_lst = [
    "每股盈餘",
    "ROA(C) 稅前息前折舊前",  # 資產報酬率
    "ROE(A)-稅後",  # 股東權益報酬率
    "營業毛利率",
    "營業利益率",
    "稅後淨利率",
    "流動比率",
    "速動比率",
    "負債比率",
    "長期資金適合率(A)",
    "CFO/負債",
    "CFO/合併總損益",
    "現金流量比率",
    "營收成長率",
    "營業毛利成長率",
    "營業利益成長率"
]

fundamental_dict = {key: industry_data_dict[key] for key in fundamental_lst if key in industry_data_dict}

fundamental_feature = reorganize_industry_data(fundamental_dict)
fundamental_feature

                 光電業                                                           \
                每股盈餘 ROA(C) 稅前息前折舊前 ROE(A)-稅後      營業毛利率      營業利益率     稅後淨利率
2013-05-15  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-16  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-17  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-20  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-21  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
...              ...            ...       ...        ...        ...       ...
2024-06-13  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-14  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-17  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-18  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-19  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798

                                                            ...    食品工業  \
                  流動比率        速動比率       負債比率   長期資金適合率(A)  ...    流動比率
2013-05-15  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-16  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-17  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-20  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-21  193.289083  138.493853  42.542385   277.254312  ...  273.83
...                ...         ...        ...          ...  ...     ...
2024-06-13  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-14  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-17  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-18  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-19  354.024747  296.764545  35.277677  2662.809091  ...  261.11

                                                                              \
                  速動比率       負債比率 長期資金適合率(A)    CFO/負債  CFO/合併總損益     現金流量比率
2013-05-15  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-16  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-17  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-20  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-21  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
...                ...        ...        ...       ...        ...        ...
2024-06-13  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-14  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-17  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-18  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-19  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167


                營收成長率   營業毛利成長率      營業利益成長率
2013-05-15   5.011667 -27.79625  1613.193333
2013-05-16   5.011667 -27.79625  1613.193333
2013-05-17   5.011667 -27.79625  1613.193333
2013-05-20   5.011667 -27.79625  1613.193333
2013-05-21   5.011667 -27.79625  1613.193333
...               ...       ...          ...
2024-06-13  17.015000  29.99625    34.852083
2024-06-14  17.015000  29.99625    34.852083
2024-06-17  17.015000  29.99625    34.852083
2024-06-18  17.015000  29.99625    34.852083
2024-06-19  17.015000  29.99625    34.852083

[2716 rows x 398 columns]

# 生成return

In [18]:
returns_data = industry_data_dict['日報酬率(%)']
returns_data

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,1.302608,0.642286,0.555994,0.421326,1.430424,1.199804,0.832743,0.068016,0.975402,1.106733,...,0.286967,0.635315,1.274580,0.236545,-0.3968,-0.102849,0.512790,0.240838,0.603218,0.727992
2013-05-16,1.185714,-0.036057,0.197428,0.836739,0.817339,0.699168,2.735586,0.446837,0.767758,1.139428,...,-0.042337,0.187807,2.271045,0.364575,1.1952,0.554331,0.188547,0.507773,0.340185,0.243038
2013-05-17,1.512616,0.441230,0.179203,0.155004,0.421407,0.382724,3.806300,0.589184,0.117923,0.165011,...,-0.043563,0.443001,-0.204555,0.104760,6.6929,0.521608,0.628443,0.076025,0.577626,0.914350
2013-05-20,1.834277,0.620290,0.049575,0.013956,0.202222,0.684601,1.009814,-0.270089,0.459767,0.013900,...,0.825748,0.479855,0.919307,0.421353,-4.7970,0.774603,0.669102,0.433365,0.482416,0.439271
2013-05-21,1.433981,0.840786,0.208633,1.255811,0.770324,1.245729,0.011843,-0.419305,0.657993,0.488272,...,1.186656,0.174277,-0.196455,1.180495,-0.7752,1.235131,0.763970,0.588637,0.942956,0.161783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,0.902497,0.182257,0.061393,1.664595,0.060207,-0.052452,0.783233,0.289356,-0.222916,0.072225,...,0.321056,0.448566,0.200614,0.201419,NaN,0.759009,0.579641,0.729533,0.719946,0.022267
2024-06-14,1.033071,0.509263,-0.049464,0.548502,0.170418,1.386225,-0.216948,0.644084,0.523718,0.100047,...,0.002290,0.460051,0.164769,0.224991,NaN,0.264346,0.740764,1.100432,0.616124,0.269683
2024-06-17,0.965813,0.409280,0.470198,0.795250,0.170254,-1.090854,0.241833,1.275944,0.419556,0.200936,...,0.059705,1.048089,0.114348,0.559096,NaN,0.750651,0.612861,0.754979,0.619787,0.263377
2024-06-18,0.166360,0.065814,-0.081207,0.735967,-0.106005,0.138477,0.060600,0.002200,0.147713,0.468586,...,-0.034572,0.378672,1.066314,-0.448411,NaN,0.825640,-0.011814,0.468741,0.118930,0.162933
2024-06-19,-0.474891,0.382039,0.360367,-0.544609,-0.009223,-0.048149,0.255829,-0.433460,-0.175336,-0.576589,...,0.066177,-0.354962,0.935398,-0.360645,NaN,0.184200,-0.683893,-0.778174,-0.440368,0.239840

In [19]:
returns_data.to_csv('returns_data.csv')

# Train RL

In [20]:
features_dict = {'fundamental': fundamental_feature}
cluster_data = cluster_result
returns_data = industry_data_dict['日報酬率(%)']
cluster_result

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-16,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-17,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-20,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
2013-05-21,5,3,3,1,3,3,6,1,3,1,...,2,1,1,3,4,3,1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-14,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-17,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-18,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1
2024-06-19,5,1,1,2,1,3,6,4,1,1,...,2,2,4,1,<NA>,5,5,5,2,1

In [21]:
cluster_data = cluster_data.fillna(method='ffill')  # 用前值填充 NA
cluster_data = cluster_data - 1  # 將群集標籤從 1-6 映射到 0-5

cluster_data

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-16,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-17,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-20,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-21,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,4,0,0,1,0,2,5,3,0,0,...,1,1,3,0,1,4,4,4,1,0
2024-06-14,4,0,0,1,0,2,5,3,0,0,...,1,1,3,0,1,4,4,4,1,0
2024-06-17,4,0,0,1,0,2,5,3,0,0,...,1,1,3,0,1,4,4,4,1,0
2024-06-18,4,0,0,1,0,2,5,3,0,0,...,1,1,3,0,1,4,4,4,1,0
2024-06-19,4,0,0,1,0,2,5,3,0,0,...,1,1,3,0,1,4,4,4,1,0

In [22]:
features_dict['fundamental']

                 光電業                                                           \
                每股盈餘 ROA(C) 稅前息前折舊前 ROE(A)-稅後      營業毛利率      營業利益率     稅後淨利率
2013-05-15  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-16  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-17  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-20  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
2013-05-21  0.227706       1.739083 -0.308349   9.020000  -9.252569 -7.825413
...              ...            ...       ...        ...        ...       ...
2024-06-13  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-14  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-17  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-18  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798
2024-06-19  3.347071       6.278384  2.638788  17.876162 -11.568788  1.539798

                                                            ...    食品工業  \
                  流動比率        速動比率       負債比率   長期資金適合率(A)  ...    流動比率
2013-05-15  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-16  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-17  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-20  193.289083  138.493853  42.542385   277.254312  ...  273.83
2013-05-21  193.289083  138.493853  42.542385   277.254312  ...  273.83
...                ...         ...        ...          ...  ...     ...
2024-06-13  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-14  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-17  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-18  354.024747  296.764545  35.277677  2662.809091  ...  261.11
2024-06-19  354.024747  296.764545  35.277677  2662.809091  ...  261.11

                                                                              \
                  速動比率       負債比率 長期資金適合率(A)    CFO/負債  CFO/合併總損益     現金流量比率
2013-05-15  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-16  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-17  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-20  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
2013-05-21  191.565417  39.332917  307.09125  0.181579  31.411053  13.037083
...                ...        ...        ...       ...        ...        ...
2024-06-13  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-14  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-17  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-18  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167
2024-06-19  182.222500  36.582500  255.92250  0.320000   1.542500  12.059167


                營收成長率   營業毛利成長率      營業利益成長率
2013-05-15   5.011667 -27.79625  1613.193333
2013-05-16   5.011667 -27.79625  1613.193333
2013-05-17   5.011667 -27.79625  1613.193333
2013-05-20   5.011667 -27.79625  1613.193333
2013-05-21   5.011667 -27.79625  1613.193333
...               ...       ...          ...
2024-06-13  17.015000  29.99625    34.852083
2024-06-14  17.015000  29.99625    34.852083
2024-06-17  17.015000  29.99625    34.852083
2024-06-18  17.015000  29.99625    34.852083
2024-06-19  17.015000  29.99625    34.852083

[2716 rows x 398 columns]

In [23]:
returns_data

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,1.302608,0.642286,0.555994,0.421326,1.430424,1.199804,0.832743,0.068016,0.975402,1.106733,...,0.286967,0.635315,1.274580,0.236545,-0.3968,-0.102849,0.512790,0.240838,0.603218,0.727992
2013-05-16,1.185714,-0.036057,0.197428,0.836739,0.817339,0.699168,2.735586,0.446837,0.767758,1.139428,...,-0.042337,0.187807,2.271045,0.364575,1.1952,0.554331,0.188547,0.507773,0.340185,0.243038
2013-05-17,1.512616,0.441230,0.179203,0.155004,0.421407,0.382724,3.806300,0.589184,0.117923,0.165011,...,-0.043563,0.443001,-0.204555,0.104760,6.6929,0.521608,0.628443,0.076025,0.577626,0.914350
2013-05-20,1.834277,0.620290,0.049575,0.013956,0.202222,0.684601,1.009814,-0.270089,0.459767,0.013900,...,0.825748,0.479855,0.919307,0.421353,-4.7970,0.774603,0.669102,0.433365,0.482416,0.439271
2013-05-21,1.433981,0.840786,0.208633,1.255811,0.770324,1.245729,0.011843,-0.419305,0.657993,0.488272,...,1.186656,0.174277,-0.196455,1.180495,-0.7752,1.235131,0.763970,0.588637,0.942956,0.161783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-13,0.902497,0.182257,0.061393,1.664595,0.060207,-0.052452,0.783233,0.289356,-0.222916,0.072225,...,0.321056,0.448566,0.200614,0.201419,NaN,0.759009,0.579641,0.729533,0.719946,0.022267
2024-06-14,1.033071,0.509263,-0.049464,0.548502,0.170418,1.386225,-0.216948,0.644084,0.523718,0.100047,...,0.002290,0.460051,0.164769,0.224991,NaN,0.264346,0.740764,1.100432,0.616124,0.269683
2024-06-17,0.965813,0.409280,0.470198,0.795250,0.170254,-1.090854,0.241833,1.275944,0.419556,0.200936,...,0.059705,1.048089,0.114348,0.559096,NaN,0.750651,0.612861,0.754979,0.619787,0.263377
2024-06-18,0.166360,0.065814,-0.081207,0.735967,-0.106005,0.138477,0.060600,0.002200,0.147713,0.468586,...,-0.034572,0.378672,1.066314,-0.448411,NaN,0.825640,-0.011814,0.468741,0.118930,0.162933
2024-06-19,-0.474891,0.382039,0.360367,-0.544609,-0.009223,-0.048149,0.255829,-0.433460,-0.175336,-0.576589,...,0.066177,-0.354962,0.935398,-0.360645,NaN,0.184200,-0.683893,-0.778174,-0.440368,0.239840

In [24]:
# 範例輸入、輸出
cluster_data_temp  = cluster_data.iloc[:400]
features_dict_temp = {'fundimental':features_dict['fundamental'].iloc[:400]}
returns_data_temp = returns_data.iloc[:400]
cluster_data_temp

symbol,光電業,其他,化學工業,半導體,居家生活,建材營造,數位雲端,文化創意業,材料,汽車工業,...,資訊服務業,通信網路業,金融業,鋼鐵工業,電子商務,電子通路業,電子零組件,電機機械,電腦及週邊,食品工業
datetime,,,,,,,,,,,,,,,,,,,,,
2013-05-15,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-16,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-17,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-20,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
2013-05-21,4,2,2,0,2,2,5,0,2,0,...,1,0,0,2,3,2,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-15,1,5,1,1,5,5,5,2,5,0,...,1,1,5,4,3,1,1,1,1,1
2014-12-16,1,5,1,1,5,5,5,2,5,0,...,1,1,5,4,3,1,1,1,1,1
2014-12-17,1,5,1,1,5,5,5,2,5,0,...,1,1,5,4,3,1,1,1,1,1
2014-12-18,1,5,1,1,5,5,5,2,5,0,...,1,1,5,4,3,1,1,1,1,1
2014-12-19,1,5,1,1,5,5,5,2,5,0,...,1,1,5,4,3,1,1,1,1,1

:

In [ ]:
cluster_data_temp.to_csv('cluster_data_temp.csv')
features_dict_temp['fundimental'].to_csv('features_dict_temp.csv', index=False, encoding="utf-8-sig")
returns_data_temp.to_csv('returns_data_temp.csv')

:

# Train

In [ ]:
results = Industry_RL_Framework.train_models(
    features_dict=features_dict_temp,
    cluster_data=cluster_data_temp,
    returns_data=returns_data_temp,
    start_date='2013-05-15',
    end_date='2014-12-19'
)

Training window: 2013-06-01 00:00:00 to 2013-12-01 00:00:00, Predicting for: 2014-01-01 00:00:00
Training new A2C model for period 20130601_20131201

In [ ]:
results = Industry_RL_Framework.train_models(
    features_dict=features_dict,
    cluster_data=cluster_data,
    returns_data=returns_data,
    start_date='2023-01-01',
    end_date='2024-06-19'
)

Training window: 2023-01-01 00:00:00 to 2023-07-01 00:00:00, Predicting for: 2023-08-01 00:00:00
Training new A2C model for period 20230101_20230701

In [25]:
results

,train_window_start,train_window_end,predict_date,A2C_prediction,PPO_prediction,TRPO_prediction
0,2013-06-01,2013-12-01,2014-01-01,NaN,NaN,NaN
1,2013-07-01,2014-01-01,2014-02-01,NaN,NaN,NaN
2,2013-08-01,2014-02-01,2014-03-01,NaN,NaN,NaN
3,2013-09-01,2014-03-01,2014-04-01,NaN,NaN,NaN
4,2013-10-01,2014-04-01,2014-05-01,NaN,NaN,NaN
...,...,...,...,...,...,...
121,2023-07-01,2024-01-01,2024-02-01,NaN,NaN,NaN
122,2023-08-01,2024-02-01,2024-03-01,NaN,NaN,NaN
123,2023-09-01,2024-03-01,2024-04-01,NaN,NaN,NaN
124,2023-10-01,2024-04-01,2024-05-01,NaN,NaN,NaN
125,2023-11-01,2024-05-01,2024-06-01,NaN,NaN,NaN